<nav class="navbar navbar-light bg-light navbar-expand-md">
            <a routerLink = "/" class="navbar-brand">Recipe Book</a>
            <ul class="navbar-nav">
                <li routerLinkActive ="active-link" class="navbar-item"><a routerLink = "/recipes" class="nav-link">&nbsp;Recipe List</a></li>
                <li routerLinkActive ="active-link" class="navbar-item"><a routerLink = "/shopping-list" class="nav-link">&nbsp;Shopping List</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li routerLinkActive ="active-link" class="navbar-item"><a routerLink="/signup" class="nav-link">Register</a></li>
                    <li routerLinkActive ="active-link" class="navbar-item"><a routerLink="/signin" class="nav-link">Log In</a></li>
                </ng-template>
                <li *ngIf="authService.isAuthenticated()">
                    <a class="nav-link" (click) = "onLogOut()">Logout</a>
                </li>
                <li class="navbar-item dropdown" *ngIf="authService.isAuthenticated()">
                    <a class="dropdown-toggle nav-link" role="button" data-toggle="dropdown">&nbsp;Manage</a>
                    <ul class="dropdown-menu">
                        <li><a (click)="onSave()">Save data</a></li>
                        <li><a (click)="onFetch()">Fetch data</a></li>
                    </ul>
                </li>
            </ul>
</nav>